@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
	--overflow: "auto";
}

html, body {
  overflow: var(--overflow);
  overflow-x: hidden;
}
body {
  position: relative
}

